<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Loja de Músicas</title>
</head>

<body>

<header>
<ul>
<li><a href="../index.html">Home</a></li>
<li>Loja de Músicas</li>
</ul>
</header>

<main>

<h1>Loja de Músicas</h1>

<ul>
<li><a href="estilo/estilo.html">Cadastro de Estilos</a></li>
<li><a href="artista/artista.html">Cadastro de Artistas</a></li>
<li><a href="disco/disco.html">Cadastro de Disco</a></li>
<li><a href="gravadora/gravadora.html">Cadastro de Gravadora</a></li>
<li><a href="interprete/interprete.html">Associar musica a um Interprete</a></li>
<li><a href="musica_disco/musica_disco.html">Associar musica a Disco</a></li>
<li><a href="compositor/compositor.html">Associar compositor</a></li>
<li><a href="musica/musica.html">Cadastro de Musica</a></li>
</ul>

</main>

<script src="renderer.js"></script>

</body>
</html>